# Project
src/data
staff_test
test_outputs
generated_data
student_outputs
status.current_container_id

# Mac OS stuff
*.DS_Store

# IDE stuff
tags
Tags
*.swp
*.vscode

# Object files
obj/*
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Executables
*.out
bin/*
server
client
.deps